<!DOCTYPE html>
<html>
<head>
  <title>ewha the world</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  
   <!-- Compiled and minified CSS materialize css cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
   
  <!--fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
 <!-- cdn 끝 -->    
   
   <link rel="stylesheet" href="../stylesheets/bar.css">
   <link rel="stylesheet" href="../stylesheets/menu.css">
   <link rel="stylesheet" href="../stylesheets/search.css">
   
   <script>

      // Or with jQuery
      $(document).ready(function(){
        $('.modal').modal();
      });
   </script>
   
</head>
<body>
<!-- header &navigation -->
<div class="row" style="margin-bottom:5vh;">
     <div class="home"> 
        <div class="header"> 
            <div class="header_img"> 
            </div>
            <a href="/"><h1 id="title_font">EWHA, THE WORLD</h1></a>
            <div class="header_img"> 
            </div>
        </div>
      </div>  
  <nav id="re_navbar">
      <div class="gnb">  
       <div class="button_date">
              <form action="/home/index" method='get' class="nav_btn">
                  <button type="submit"  class="gnb_but">HOME</button>
              </form>
              <form action="/home/first" method='get' class="nav_btn">
                  <button class="gnb_but" type="submit">5/15(화)</button>
              </form>
              <form action="/home/second" method='get'class="nav_btn">
                  <button class="gnb_but" type="submit">5/16(수)</button>
              </form>
              <form action="/home/third" method='get' class="nav_btn">
                  <button class="gnb_but" type="submit">5/17(목)</button>
              </form>
              <form action="/home/forth" method='get' class="nav_btn">
                  <button class="gnb_but" type="submit">야시장</button>
              </form>
              <form action="/home/event_show" method='get' class="nav_btn">
                  <button class="gnb_but" type="submit">이벤트</button>
              </form>
        </div>
       </div>   
    </nav>
</div>
  <!-- header&navi 끝 -->
  
  
  <!--search-->
  <div class="search_box row">
    <%= form_tag "/home/search" , method: "get" do %>
        <div class ="col s10" style="margin-left:1vw;"><%= text_field_tag "search"%></div>
        <%= button_tag(type: "submit", class: "col s2", id: "search_btn") do %>
              <i class="searchh fas fa-search fa-2x"></i>
        <% end %>
    <% end %>
    </div>
    <!--search 끝-->



<%= yield %>

<!--password-->

<br>
    <div class="for_admin">
        <div>
            <%= form_tag "/home/pass", :id => 'sold_out_box' do %>
                <%= text_field_tag "pass", nil, :placeholder => 'Enter sold out password' %>
                <%= submit_tag "Click Me", :class => 'clickme', :data => { :confirm => "Are you sure?" } %>
            <% end %>
        </div>
    </div>

<!--password 끝-->

    <footer>
        <p>Copyright &copy; Ewha-Likelion 6th, 2018</p>
    </footer>

</body>
</html>
