<div class ="container">
  <br>
  <div class= "row", style ="border: 1px solid white; padding:10px;">
  <div class ="row" id="date_event">
      <div class ="col m4">5 / 15</div>
      <div class ="col m4">5 / 16</div>
      <div class ="col m4">5 / 17</div>
  </div>
  ㅤㅤㅤㅤㅤㅤㅤㅤㅤ
    <div class ="row row_cont">
        <a class= "col m12 collection modal-trigger" href="#modal1">
            <p>PM 12:30</p>
            <p>스튜디오 지브리 포토월 지브梨</p>
        </a>
    </div>
  <div class ="row row_cont">
    <a class= "col m4 collection modal-trigger" href="#modal2">
        <p>PM 12:30</p>
        <p>개막식</p>
    </a>
    <a class= "col m4 collection modal-trigger" href="#modal3">
        <p>PM 12:30</p>
        <p>이화마불</p>
    </a>
    <a class= "col m4 collection modal-trigger" href="#modal4">
        <p>PM 12:30</p>
        <p>이화 TMI 자랑</p>
    </a>
  </div>

  
  <div class ="row row_cont">
    <a class= "col m4 collection modal-trigger" href="#modal5">
        <p>PM 2:00</p>
        <p>해리포터와 비밀의 ECC</p>
    </a>
    <a class= "col m4 collection modal-trigger" href="#modal6">
        <p>PM 5:15</p>
        <p>이화 갓 탤런트</p>
    </a>
    <div class= "col m4 collection">
        
    </div>
  </div>
  
  <div class ="row row_cont">
    <a class= "col m4 collection modal-trigger" href="#modal7">
        <p>PM 6:00 - 8:00</p>
        <p>배꽃야시장</p>
    </a>
    <a class= "col m4 collection modal-trigger" href="#modal8">
        <p>PM 7:00</p>
        <p>초대 가수 공연</p>
    </a>
    <div class= "col m4 collection">
        
    </div>
  </div>
  
  <div class ="row row_cont">
    <div class= "col m4 collection">
        
    </div>
    <a class= "col m4 collection modal-trigger" href="#modal9">
        <p>공연직후</p>
        <p>이화 시네마</p>
    </a>
    <div class= "col m4 collection">
        
    </div>
  </div>
    
    
  <!--모달  -->
  <div id="modal1" class="modal">
    <div class="modal-content">
        <h4>스튜디오 지브리 포토월 지브梨</h4>
        <%=image_tag("event/1.jpg")%>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
    <div id="modal2" class="modal">
    <div class="modal-content">
        <h4>개막식</h4>
        <%=image_tag("event/2.jpg")%>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
    <div id="modal3" class="modal">
    <div class="modal-content">
        <h4>이화마불</h4>
        <%=image_tag("event/3.jpg")%>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
    <div id="modal4" class="modal">
    <div class="modal-content">
        <h4>이화 TMI 자랑</h4>
        <%=image_tag("event/4.jpg")%>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
    <div id="modal5" class="modal">
    <div class="modal-content">
        <h4>해梨포터와 비밀의 ECC</h4>
        <%=image_tag("event/5.jpg")%>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
    <div id="modal6" class="modal">
    <div class="modal-content">
        <h4>이화 갓 탤런트</h4>
        <%=image_tag("event/6.jpg")%>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
    <div id="modal7" class="modal">
    <div class="modal-content">
        <h4>배꽃야시장</h4>
        <%=image_tag("event/7.jpg")%>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>  
  <div id="modal8" class="modal">
    <div class="modal-content">
        <h4>초대가수공연</h4>
        <%=image_tag("event/8.jpg")%>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
    <div id="modal9" class="modal">
    <div class="modal-content">
        <h4>이화씨네마</h4>
        <%=image_tag("event/9.jpg")%>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <!--모달 끝-->
  </div>
</div>




