

<!-- 장소 목록 -->
<div class="place">
 <div id ="box" class="row" style="margin-bottom:0px; display: flex; width: 100vw;" >
    <div class="button_building col s3" >
        <form action='/home/first' method='get'>
            <button type="submit" class="place_button" name="place" value="hak">학관</button>
        </form>
       <form action='/home/first' method='get'>
            <button type="submit" class="place_button" name="place" value="hoo">후윳길</button>
        </form>
        <form action='/home/first' method='get'>
            <button type="submit" class="place_button" name="place" value="hakm_base">학문관지하</button>
        </form>
        <form action='/home/first' method='get'>
            <button type="submit" class="place_button" name="place" value="hakm_forest">학문관숲길</button>
        </form>
        <form action='/home/first' method='get'>
            <button type="submit" class="place_button" name="place" value="posco">포스코관</button>
        </form>
        <form action='/home/first' method='get'>
            <button type="submit" class="place_button" name="place" value="gate">정문</button>
        </form>
        <form action='/home/first' method='get' style="border-bottom: none;">
            <button type="submit" class="place_button" name="place" value="saeng">생활관</button>
        </form>
    </div>
    <div class="place_img col s9" >
        <div class="line_height">
            <%= image_tag ("building/#{@building}.jpg"), :class => "style_image" %>
         </div>
    </div>
</div>
</div>
<hr>
<!-- 장소목록 끝 -->

<!--장소 목록 리스트 & 이벤트 리스트-->
<div class="every_list" >
    <!-- ruby 문법 -->
        <% Fest.where(date:1).where(place: @building).order(:booth_num).each do |booth| %>
        
                 
        <!-- 이벤트 페이지 -->
        <div class="event_list">        
                <!-- 장소-메뉴 가격 페이지 -->    
            <div class="place_menu_list">        
                
                   <div class="number_name">
                    <div class="booth_num_name">
                        
                    <!-- 이미지파일-숫자 -->  
                       <span class="booth_num" style="font-size:2.5em; color:white;"><%= ("#{booth.booth_num}") %> </span>
                    <!-- 부스이름 -->  
                       <h3 style = "color: black"> <%= booth.name %> </h3><br> 
                     </div>
                    </div>
                    <!-- array - 음식-가격 정보부분. 보더 솔리드간격 줄여야 함 -->  
                <div class="price_tag">
                        <% @array = booth.detail.to_s.split(',')%>
                        
                        <%if(booth.sold_out ==0)%>
                            <% @array.each do |d| %>
                            <div class="whole_collection">
                                <li class="collection" style="margin: 0; padding: 0; border: none;">
                                    <p id ="<%=booth.booth_num%>" style="margin: 0;"><%= d %></p>
                                </li>
                            </div>
                            <%end%>
                        <%else%>
                            <div class="whole_collection">
                                <li class ="collection" style="color: #f25e0e; margin: 0; padding: 0; border: none;">
                                    <p id ="<%=booth.booth_num%>">sold out</p>
                                </li>
                            </div>
                        <% end %>
                         
                        <% @num = @num+1 %>

               </div>
             </div>
 
            </div>    
        </div>        
        <% end %>

<!--장소 목록 리스트 & 이벤트 리스트 끝-->






